.vmcontainer {
    display: inline-block;
    position: relative;
    max-width: 100%;
}


.vmlinea {
    position: absolute;
    margin-left: 0;
    left: calc(50% - 1px);
    width: 1px;
    height: 100%;
    top: 0;
    z-index: 1000;
    background-color: yellow;
}


.vmvideo {
    display: block;
}

.vmvideo video {
    max-width: 100%;
    height: auto;
    display: block;
}
