@inherits LayoutComponentBase

<NavMenu />
@*
<section class="hero is-small">
   
    
    <div class="hero-body">
        <div class="container has-text-centered">
            
           

        </div>

    </div>*@
 <div class="container">
    <section class="section">
    @Body
    </section>
</div>

    @*<div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a>RG Progr</a></li>
                </ul>
            </div>
        </div>
    </div>*@

@*</section>*@

<footer class="footer is-small">
    <div class="content has-text-centered">
        <p>
            <strong>Take Off Video Application @_appVersion</strong> by <a href="">RG Progr  </a>
                        
            @*Net version @_version - *@

           @* The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>*@

            <a href="https://bulma.io" target="_blank">
                <img src="image/made-with-bulma--white.png"
                     alt="Made with Bulma"
                     width="128"
                     height="24">
            </a>

            
        </p>
    </div>
</footer>


@code
{

    //string? _version;

    string? _appVersion;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        //_appVersion = typeof(Program).Assembly.GetName().Version;

        _appVersion = GetType().Assembly.GetName().Version.ToString();

        //var _version = Environment.Version.ToString();
    }
}