@inherits LayoutComponentBase


<section class="hero is-fullheight is-default is-bold">
    <NavMenu />

    <div class="hero-body">
        <div class="container has-text-centered">

            @Body

        </div>

    </div>

    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a>RG Progr</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>