<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    <img src="Images/TOVLogo1.png" alt="Logo">
                </a>
                <h1 class="title">Take Off Video</h1>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="tabs is-right">
                        <ul>
                            <li class="is-active"><a>Home</a></li>
                            <li><a href="">Ingrandisci</a></li>
                            <li><a href="">Documentazione</a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>