@page "/documentazione"

@using TakeOffVideo.Library.AnchorLink

<article id="content" class="columns">

  <div id="left" class="column is-8">

    <section id="tovideo" class="hero bd-hero bd-is-basic">
        <div class="hero-body">

            <div class="container has-text-left">

                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            Take Off Video

                        </h1>
                        <div class="subtitle is-4 algolia-lvl1">
                            <p>Introduzione</p>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

        <div class="content r has-text-left">
            <p>
            Il programma è pensato per coadiuvare la rilevazione dei nulli nei salti in estensione in 
            Atletica Leggera.
            </p>
            <p>
            L'idea base è quella che sia sufficiente avere un PC con collegata una WebCam 
            che punti alla pedana di stacco e il giudice può registrare lo stacco e valutare
            correttamente il salto senza doversi preoccupare di conoscere sotware di video editing.
            </p>

        </div>

    <section id="rec" class="hero bd-hero bd-is-basic">
        <div class="hero-body">

            <div class="container has-text-left">

                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            Registrazione
                        </h1>
                    

                    </div>
                </div>

            </div>

        </div>
    </section>

        <div class="content has-text-left">

            <p>
                Nella parte sinistra si effettua la registrazione del salto.
            </p>

            <p class="is-size-4">Configurazione</p>
                
            <p>
            All'inizio va configurata la telecamera da utilizzare, premendo Aggiorna per ottenere
            l'elenco delle webcam collegate al dispositivo.
            
            <strong>
            ATTENZIONE: la prima volta è necessario concedere al browser l'autorizzazione all'accesso ai video
                </strong>
            </p>
            <br />
            <p>Di default tutti i video registrati vengono salvati nella cartella <i>Download</i> standard del dispositivo.
                <br /> In alcuni browser è possibile anche configurare una cartella personalizzata 
                (ad esempio diversa per ciascuna gara) premendo il bottone apposito. Anche in questo caso è necessario dare doppia
                autorizzazione al browser (autorizzazione di accesso e di scrittura)

            </p>
 

            <p>
            Una volta selezionata la camera, è possibile controllare il corretto allineamento utilizzando la riga
            gialla, la cui posizione è regolabile tramite le freccette.
            </p>

            <p class="is-size-4">Registrazione stacco</p>


            <p>

            Premendo il bottone Registra si inizia la registrazione dello stacco che procede sino alla pressione
            di Salva oppure termina automaticamente dopo 10 secondi. 
            E' possibile anche usare la barra spaziatrice per avviare e terminare la registrazione. 
            </p>
            <p>
            Al termine, il video viene salvato automaticamente su file e caricato sulla parte destra di Analisi.
            </p>
            <p>

            Sotto l'immagine è possibile indicare il turno di salto e il numero di pettorale (si può inserire anche il nome o una nota).
            Questi dati non sono obbligatori ma aiutano a riconoscere il file del video salvato e renderne più
            agevole un successivo ritrovamento.
            </p>
            <p>
            Il file video viene salvato con il nome formato nel seguente modo:
            <br/>
            <code>
                TOV_[data formato YYYYMMDD]_[Ora formato HH-MM-SS]_[Turno (0 se prove)]_[Pettorale]</code>
            <br/>
            es. TOV_20221107_09-31-44_1_125.webm (o .mp4 a seconda del browser)
            <br/>
            In questo modo quando vengono cercati su file, ordinandoli per nome, mantengono l'ordine cronologico di registrazione.
            </p>

        </div>

    <section id="analisi" class="hero bd-hero bd-is-basic">
        <div class="hero-body">

            <div class="container has-text-left">

                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            Analisi
                        </h1>


                    </div>
                </div>

            </div>

        </div>
    </section>

        <div class="content has-text-left">
            <p>
            Una volta terminata la registrazione si ha immediatamente a disposizione il video sulla 
            finestra a destra dove è possibile riprodurre il salto 
            fino a verificare la correttezza o meno dello stacco.
            </p>
            <p>
            Con i controlli base del video del browser è possibile effettuale il play e pause e sfruttare
            la barra inferiore per muovere velocemente alla ricerca del punto interessato. E' anche possibile mettere il video a tutto schermo.
            <br/>Quando il video è in pausa, con i bottoni <i>Frames</i>, è possibile mandare avanti e
            indietro la riproduzione di piccoli passi (la dimensione degli step dipende dalla qualità della webcam).
                <br />
           
            Anche in questa finestra è eventualmente possibile avere come ausilio la linea gialla verticale.
            </p

            <p class="is-size-4">Storico</p>

            <p>
            Sotto l'immagine è presente una tabella in cui è possibile trovare e visualizzare agevolmente gli
            ultimi 3 video caricati. 
            <br/> Il video caricato è quello selezionato, (normalmente è il primo della lista) ma è possibile  
            riprodurre gli altri mediante il bottone di play a sinistra. 
            </p>
            <p>
            I video più vecchi vengono automaticamente scaricati ma è possibile ricaricarli da file tramite il bottone <i>Carica</i>.
                Restano infatti sempre disponibile sulla cartella di scaricamento.
            </p>
            <p>
            Nel caso si voglia fare in modo che un video non venga scaricato (esempio per una successiva analisi), 
            sarà sufficiente cliccare sulla casella più a destra.
            In questo modo verrà mantenuto assieme agli ultimi 3 registrati.    
            </p>
            <p>

            Sulla tabella i video sono caricati sempre con i più recenti in alto.
            </p>
        </div>

    <section id="web" class="hero bd-hero bd-is-basic">
        <div class="hero-body">

            <div class="container has-text-left">

                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            Connessione Internet
                        </h1>


                    </div>
                </div>

            </div>

        </div>
    </section>

        <div class="content has-text-left">
            <p>
                Pur essendo un'applicazione Web <strong>TakeOffVideo Application</strong> 
                non richiede particolari accortezze durante l'utilizzo.
                </p>
            <p>
            L'unica cosa da ricordare è che non si deve mai fare aggiorna sul browser. 
            In questo caso infatti viene resettato tutto e andranno riconfigurati la telecamera e
            l'eventuale cartella di download. Comunque tutti i video precedenti sono salvati su file 
            e possono essere agevolmente ricaricati. 
            </p>
            <p>
            A parte il primo caricamento, l'applicazione <strong>non richiede un collegamento
            continuo a Internet</strong> e quindi non risente di alcun problema nel caso di caduta anche prolungata del collegamento.
            </p>

             <p class="is-size-4">Progressive Web Application</p>

            <p>
            
            Nel caso si debba lavorare in ambiente dove non è disponibile internet è anche possibile
            precaricare sul PC l'applicazione cliccando sul bottone apposito a destra della barra del browser
            (vedi immagini sotto).
            <br /> In questo modo verrà creato sul desktop un link tramite il quale sarà 
            possibile lanciarla ed eseguirla come una normale applicazione anche senza connessione Internet.
            </p>
        
            <div class="columns">
                  <div class="column is-half">
                        <figure class="image">
                          <img src="image/PWA.png">
                        </figure>
                
                  </div>
                    <div class="column is-half">
                        <figure class="image">
                          <img src="image/PWAchrome.png">
                        </figure>
                
                  </div>
            </div>
            <p>
                Per effettuare l'aggiornamento dell'applicazione installata sul PC è sufficiente lanciarla
                con computer collegato a Internet, l'applicazione provvederà automaticamente ad aggiornarsi 
                e al successivo avvio sarà allineata all'ultima vesione
            </p>


        </div>
        <section id="contatti" class="hero bd-hero bd-is-basic">
        <div class="hero-body">

            <div class="container has-text-left">

                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">

                            Contatti
                        </h1>


                    </div>
                </div>

            </div>

        </div>
    </section>
    <div class="content has-text-left">
        Per qualsiasi osservazione è possibile inviare una mail a questo indirizzo: <a href="mailto:takeoffvideo@robig.it">takeoffvideo@robig.it</a>
        </div>
  </div>

  <div id="right" class="column is-2">
  
          <aside id="menu" class="menu">
          <p class="menu-label">
            Indice
          </p>
          <ul class="menu-list">
            <li><AnchorLink href="#tovideo">Take Off Video</AnchorLink></li>
            <li><AnchorLink href="#rec">Registrazione</AnchorLink></li>
            <li><AnchorLink href="#analisi">Analisi</AnchorLink></li>
            <li><AnchorLink href="#web">Connessione Internet</AnchorLink></li>
            <li><AnchorLink href="#contatti">Contatti</AnchorLink></li>
          </ul>
  
        </aside>
    </div>
</article>

@code {

}
