@page "/documentazione"

<section class="hero bd-hero bd-is-basic">
    <div class="hero-body">

        <div class="container has-text-left">

            <div class="bd-hero-body">
                <div class="bd-hero-heading">
                    <h1 class="title algolia-lvl0">

                        Take Off Video

                    </h1>
                    <div class="subtitle is-4 algolia-lvl1">
                        <p>Documentazione</p>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<div class="content r has-text-left">
  Il programma è pensato per coadiuvare la rilevazione dei nulli nei salti in estensione<br />
  Nella parte sinistra si trova la zona di registrazione in cui si registra il salto. Mentre nella parte
  destra si trova il video in cui si effettua l'analisi del salto
</div>

<section class="hero bd-hero bd-is-basic">
    <div class="hero-body">

        <div class="container has-text-left">

            <div class="bd-hero-body">
                <div class="bd-hero-heading">
                    <h1 class="title algolia-lvl0">

                        Registrazione
                    </h1>
                    

                </div>
            </div>

        </div>

    </div>
</section>


<div class="content has-text-left">
    Il programma è pensato per coadiuvare la rilevazione dei nulli nei salti in estensione
</div>

@code {

}
