@page "/"


<PageTitle>Take Off Video</PageTitle>

<div class="columns">
    <div class="column is-5">
        <TakeOffVideo.Recorder.Recorder />
    </div>
    <div class="column is-6 is-offset-1">
        <TakeOffVideo.Analyzer.Analyzer/>
    </div>
</div>

