@page "/"
@page "/{Modalita}"


@inject IJSRuntime jsRuntime


<PageTitle>Take Off Video</PageTitle>

<div class="columns">
    <div class="column is-5">
        <TakeOffVideo.Recorder.Recorder />
    </div>
    <div class="column is-6 is-offset-1">
        <TakeOffVideo.Analyzer.Analyzer/>
    </div>

                   
</div>

@code {

    [Parameter]
    public string? Modalita { get; set; }

    protected override void OnInitialized()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadburger");
        }

    }

}