@page "/log"

@using TakeOffVideo.Library.RLogger;

@inject IRLogger _logger

<h3>Log</h3>

<table class="table is-narrow">

    <thead>
        <tr>
            <th>ID</th>
        </tr>
        <tr>
            <th>Messaggio</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var msg in _logger.GetMessages(_lastid).OrderByDescending(m => m.ID ))
        {
            <tr>
                <td>
                    @msg.ID
                </td>
                <td>
                    @msg.Message
                </td>

            </tr>
            
        }

        
    </tbody>

</table>



@code {
    int _lastid = 0;

}
